* {
}
body {
  background-color: #121212;
  margin: 0;
  padding: 0;
}
header {
  background-color: #000;
  height: 54px;
  min-width: 380px;
}
header .Header-wrapper {
  min-width: inherit;
  max-width: 1024px;
  margin: 0 auto;
}
header .Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  margin: 0 15px;
  box-sizing: border-box;
}
header .Header-logo {
  background: url("./assets/spotify-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 27px;
  min-width: 89px;
  box-sizing: border-box;
}
header .Header-me {
  background: url("./assets/img/me.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  box-sizing: border-box;
}
/* header nav {
  display: flex;
  box-sizing: border-box;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  box-sizing: border-box;
}
header nav ul li {
  list-style: none;
  margin-left: 10px;
}
header nav ul li a {
  color: white;
  margin: auto 0;
  font-weight: 700;
} */
.search-wrapper,
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.search-container {
  min-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}
#input-search {
  height: 45px;
  border-radius: 25px;
  border-color: #1db954;
  font-weight: 700;
  /* border: #1db954; */
  outline: none;
  padding: 15px;
}
#btn-search {
  background-color: #1db954;
  color: white;
  font-weight: 500;
  border-color: #1db954;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  outline: none;
}
article h6 {
  color: white;
}
article img {
  border-radius: 50%;
  border: 3px solid #1db954;
}
.container {
  text-align: center;
}
.container-search,
.container-genres {
  min-width: 380px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  /*  flex-wrap: wrap; */
  text-align: center;
}
.container-tracks {
  min-width: 380px;
  justify-content: center;
  margin: 15px auto;
  width: 100%;
  padding: 10px 15px;

  /*  flex-wrap: wrap; */
  text-align: center;
}
.tracks_by_artist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: white;
  font-weight: bold;
  border-bottom: #4daf64 1px solid;
}
.tracks_by_artist img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.container-genres.is-hidden {
  display: none;
  visibility: hidden;
}

.container-genres img {
  border-radius: 10px;
}
article {
  margin: 5px;
}

.container-genre {
  padding: 0 15px;
  margin-bottom: 20px;
}
#select_genre {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.type_genre {
  margin: 5px;
  border-color: #1db954 solid 3px;
}

.type_genre p {
  margin: 0;
  font-weight: bold;
  color: white;
}
.type_genre img {
  border-radius: 10px;
}

.container-playlist {
  padding: 0 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.container-playlist .play {
  margin: 5px;
  animation: play 5s;
}

.container-genre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 380px;
  margin: 0 auto;
}

#container_test {
  display: flex;
  flex-wrap: wrap;
}
#container_test img {
  margin: 5px;
}
#img_categories {
  border-radius: 50%;
}
#container_me {
  display: flex;
  flex-wrap: wrap;
}

.btn.dropdown-toggle {
  width: 150px;
  text-align: left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px !important;
}

img {
  width: 140px;
  height: 140px;
}

.btn-success {
  background-color: #3b7d4a !important;
}

.btn-success:hover {
  background-color: #4daf64 !important;
}

img.track {
  border: 1px solid #8a8a8a;
}
