* {
  /* outline: red 0.1px solid; */
  box-sizing: border-box;
}
body {
  background-color: #121212;
  margin: 0;
  padding: 0;
}
header {
  background-color: #000;
  height: 54px;
  min-width: 380px;
}
header .Header-wrapper {
  min-width: inherit;
  max-width: 1200px;
  margin: 0 auto;
}
header .Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  margin: 0 15px;
  box-sizing: border-box;
}
header .Header-logo {
  background: url("./assets/spotify-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 27px;
  min-width: 89px;
  box-sizing: border-box;
}
header .Header-me {
  background: url("./assets/img/me.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  box-sizing: border-box;
}
/* header nav {
  display: flex;
  box-sizing: border-box;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  box-sizing: border-box;
}
header nav ul li {
  list-style: none;
  margin-left: 10px;
}
header nav ul li a {
  color: white;
  margin: auto 0;
  font-weight: 700;
} */
.search-wrapper,
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.search-container {
  height: 80px;
  background-color: #070707;
  min-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-components {
  border-radius: 25px;
  background-color: white;
}
.search-browser {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/lupa2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin: auto 5px auto 10px;
}
#input-search {
  height: 45px;
  border-radius: 25px;
  /* border-color: #1db954; */
  border: none;
  font-weight: 400;
  /* border: #1db954; */
  outline: none;
  padding: 5px;
  margin-right: 10px;
}
#btn-search {
  background-color: #1db954;
  color: white;
  font-weight: 500;
  /* border-color: #1db954; */
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  outline: none;
  margin-left: 5px;
}
article h6 {
  margin-top: 10px;
  color: white;
  text-transform: capitalize;
}
article img {
  border-radius: 50%;
  /* border: 3px solid #1db954; */
}
.container {
  text-align: center;
}
.container-search-wrapper,
.container-playlist-wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 380px;
  margin: 0 auto;
  overflow: hidden;
}
.container-search {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.play-icon {
  background-image: url("./assets/img/play.png");
  background-size: cover;

  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1db954;
  border-radius: 50%;
  margin-top: -40px;
  /*  top: calc(62% - 40px); */
  right: 10%;
  /* animation: hola 1s; */
  transition: 0.5s;
  opacity: 0;
  box-shadow: 0px 5px 26px -5px rgba(0, 0, 0, 0.76);

  /*  animation: play 3s ease 0.1s iteration-count direction forwards; */
}
.result-search:hover .play-icon,
.albums_by_artist:hover .play-icon,
.related_by_artist:hover .play-icon,
.type_genre:hover .play-icon,
.type_seeds:hover .play-icon {
  margin-top: -70px;
  opacity: 1;
}

.container-tracks {
  /*  height: 250px; */
  overflow: hidden;

  /* margin: 50px 0 0 10px; */
  /*  max-width: 1200px;
  min-width: 380px;
  justify-content: center;
  margin: 15px auto;
  width: 100%;
  padding: 10px 15px;
  background-color: #282828; */
  /*  flex-wrap: wrap; */
  /* text-align: center;
  border-radius: 10px; */
}

.tracks_by_artist {
  padding: 10px;
  display: flex;
  /*   width: 590px; */
  align-items: center;
  height: 60px;
  color: white;
  margin-top: 3px;
  background-color: #181818;
  border-radius: 5px;

  /* border: #4daf64 0.5px solid; */
}

.tracks_by_artist:hover {
  background-color: #282828;
}
.tracks_by_artist:hover .icon-play-track,
.tracks_by_artist:hover .points {
  opacity: 1;
}

.tracks_by_artist img {
  /* border-radius: 50%; */
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
.tracks_by_artist p {
  margin: 0;
}

.tracks-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.track-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.track-details .min {
}
.icon-play-track {
  background-image: url("/assets/img/play.png");
  background-size: cover;
  height: 30px;
  width: 30px;
  transition: 0.3s;
  opacity: 0;
}
.min {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.points {
  font-weight: bold;
  margin: auto 0;
  margin-left: 5px;
  opacity: 0;
}
.container-genres.is-hidden {
  display: none;
  visibility: hidden;
}

.container-genres img {
  border-radius: 10px;
}
article {
  margin: 5px;
}

.container-genre {
  /*  padding: 0 15px;
 */
  margin-bottom: 20px;
}
.tittle-related,
.tittle-albums {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  font-size: 22px;
  font-weight: 500;
  color: white;
  display: none;
}
.tittle-genre,
.tittle-featured,
.tittle-seeds {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  font-weight: 400;
  color: white;
  display: none;
}
.tittle-genre.active,
.tittle-albums.active,
.tittle-related.active,
.tittle-featured.active,
.tittle-seeds.active {
  display: block;
}

#select_genre,
#id-albums,
#id-featured,
#id-related,
#select_featured,
#select_seeds {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
#select_featured {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.result-search,
.type_genre,
.type_featured,
.type_seeds,
.albums_by_artist,
.related_by_artist,
.play {
  position: relative;
  background-color: #181818;
  margin: 5px;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
  cursor: pointer;
}
.type_featured {
  border: #1db954 solid 1px;
  position: relative;
  background-color: #181818;
  margin: 5px;
  border-radius: 10px;
  height: 200px;
  width: 380px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}
.type_featured img {
  position: absolute;
  bottom: -10px;
  right: -20px;
  transform: rotate(30deg);
}
.type_featured p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: initial;
}

.result-search:hover,
.type_genre:hover,
.albums_by_artist:hover,
.related_by_artist:hover,
.type_featured:hover,
.type_seeds:hover,
.play:hover {
  background-color: #282828;
}

.type_genre p,
.type_seeds p,
.albums_by_artist p,
.related_by_artist p,
.play p {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
}
.type_genre img,
.play img {
  border-radius: 10px;
}
.albums_by_artist img,
.related_by_artist img {
  border-radius: 10px;
}
.albums_by_artist p,
.related_by_artist p {
  margin: 15px 0 0 0;

  overflow: hidden;

  text-overflow: ellipsis;

  color: white;
  text-align: left;
}

.albums_by_artist h6,
.related_by_artist h6,
.tracks-names-artist h6 {
  color: #b3b3b3;
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
}
.container-playlist {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.container-playlist .play {
  margin: 5px;
  animation: play 5s;
}

.container-artist-tracks {
  max-width: 1200px;
  min-width: 380px;
  /*  display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: auto;
  margin-bottom: 20px;
}
.tracks-tittle {
  visibility: hidden;
  display: none;
}
.tracks-tittle.is-active {
  visibility: visible;
  display: block;
  color: white;
}
.container-artist {
  max-width: 1200px;
  min-width: 380px;
  position: relative;
  padding: 0 15px;
}
.container-artist h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.container-artist-card {
  background-color: #181818;
  /* border: red solid 1px; */
  /*  height: 270px; */

  /* border: #1db954 solid 0.5px; */
  /* min-width: 380px; */
  border-radius: 10px;
  padding: 20px;
}
.container-artist-card img {
  border-radius: 50%;
}
.container-artist-card p {
  width: 25%;
  /* border: red solid 0.5px; */
  background: #121212;
  padding: 3px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
}
.container-artist-card:hover {
  background-color: #282828;
}
.container-artist-card:hover .play-icon {
  opacity: 1;
  box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.8);
}

.container-genre,
.container-albums,
.container-related,
.container-seeds {
  display: flex;
  /*  justify-content: center; */
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 380px;
  margin: 0 auto;
  overflow: hidden;
}
.container-featured {
  max-width: 1200px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  /* width: 90%; */

  margin-bottom: 20px;
  min-width: 380px;
  margin: 0 auto;
  overflow: hidden;
}

#container_test {
  display: flex;
  flex-wrap: wrap;
}
#container_test img {
  margin: 5px;
}
#img_categories {
  border-radius: 50%;
}
#container_me {
  display: flex;
  flex-wrap: wrap;
}

.btn.dropdown-toggle {
  width: 150px;
  text-align: left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px !important;
}

img {
  width: 140px;
  height: 140px;
}

.btn-success {
  background-color: #3b7d4a !important;
}

.btn-success:hover {
  background-color: #4daf64 !important;
}

img.track {
  border: 1px solid #8a8a8a;
}

footer {
  border: red solid 1px;
  height: 100px;
  box-sizing: border-box;
}
footer .footer-container {
  display: grid;
  grid-template-columns: 75% 1fr;
}
.footer-container .footer-container_col1 {
  border: blue solid 1px;
  height: 100px;
}
.btn-scroll {
  height: 25px;
  width: 25px;
  background-color: #1db954;
  border-radius: 50%;
}

@media screen and (min-width: 600px) {
  #select_genre,
  #id-featured,
  #id-albums,
  #id-related,
  #select_featured,
  #select_seeds {
    overflow: initial;
  }
  .container-search,
  .container-playlist {
    overflow: initial;
  }
}
@media screen and (max-width: 680px) {
  .type_featured {
    height: 250px;
    min-width: 160px;
  }
  .type_featured p {
    font-size: 16px;
  }

  .container-artist-tracks {
    display: flex;
    flex-direction: column;
  }
  .container-artist {
    width: 100%;
  }
  .container-tracks {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    /* border: #1db954 solid 1px; */
  }
  .tracks_by_artist {
    width: auto;
  }
  .tracks-names-artist p {
    font-size: 14px;
  }
  .tracks-names-artist h6 {
    font-size: 14px;
  }
}
