* {
  /*  outline: red 0.1px solid; */
}
body {
  background-color: #121212;
  margin: 0;
  padding: 0;
}
header {
  background-color: #000;
  height: 54px;
  min-width: 380px;
}
header .Header-wrapper {
  min-width: inherit;
  max-width: 1024px;
  margin: 0 auto;
}
header .Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  margin: 0 15px;
  box-sizing: border-box;
}
header .Header-logo {
  background: url("./assets/spotify-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 27px;
  min-width: 89px;
  box-sizing: border-box;
}
header .Header-me {
  background: url("./assets/img/me.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  box-sizing: border-box;
}
/* header nav {
  display: flex;
  box-sizing: border-box;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
  box-sizing: border-box;
}
header nav ul li {
  list-style: none;
  margin-left: 10px;
}
header nav ul li a {
  color: white;
  margin: auto 0;
  font-weight: 700;
} */
.search-wrapper,
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.search-container {
  height: 80px;
  background-color: #070707;
  min-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#input-search {
  height: 45px;
  border-radius: 25px;
  /* border-color: #1db954; */
  border: none;
  font-weight: 400;
  /* border: #1db954; */
  outline: none;
  padding: 15px;
  margin-right: 10px;
}
#btn-search {
  background-color: #1db954;
  color: white;
  font-weight: 500;
  /* border-color: #1db954; */
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  outline: none;
}
article h6 {
  margin-top: 10px;
  color: white;
  text-transform: capitalize;
}
article img {
  border-radius: 50%;
  /* border: 3px solid #1db954; */
}
.container {
  text-align: center;
}
.container-search-wrapper,
.container-playlist-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 380px;
  margin: 0 auto;
  overflow: hidden;
}
.container-search {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.play-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1db954;
  border-radius: 50%;
  margin-top: -40px;
  /*  top: calc(62% - 40px); */
  right: 10%;
  /* animation: hola 1s; */
  transition: 0.5s;
  opacity: 0;

  /*  animation: play 3s ease 0.1s iteration-count direction forwards; */
}
.result-search:hover .play-icon {
  margin-top: -70px;
  opacity: 1;
}

.container-tracks {
  /*  height: 250px; */
  overflow: hidden;

  /* margin: 50px 0 0 10px; */
  /*  max-width: 1024px;
  min-width: 380px;
  justify-content: center;
  margin: 15px auto;
  width: 100%;
  padding: 10px 15px;
  background-color: #282828; */
  /*  flex-wrap: wrap; */
  /* text-align: center;
  border-radius: 10px; */
}

.tracks_by_artist {
  padding: 10px;
  display: flex;
  width: 590px;
  align-items: center;
  height: 60px;
  color: white;
  margin-top: 3px;
  background-color: #181818;
  border-radius: 5px;

  /*   border-bottom: #4daf64 0.5px solid; */
}

.tracks_by_artist:hover {
  background-color: #282828;
}
.tracks_by_artist img {
  /* border-radius: 50%; */
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
.tracks_by_artist p {
  margin: 0;
}
.tracks-names-artist {
  margin-right: 30px;
}
.tracks-info {
  display: flex;
}
.container-genres.is-hidden {
  display: none;
  visibility: hidden;
}

.container-genres img {
  border-radius: 10px;
}
article {
  margin: 5px;
}

.container-genre {
  padding: 0 15px;
  margin-bottom: 20px;
}
#select_genre,
#id-albums,
#id-related {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.result-search,
.type_genre,
.albums_by_artist,
.related_by_artist,
.play {
  position: relative;
  background-color: #181818;
  margin: 5px;
  border-radius: 10px;
  height: 250px;
  padding: 10px;
  cursor: pointer;
}
.result-search:hover,
.type_genre:hover,
.albums_by_artist:hover,
.related_by_artist:hover,
.play:hover {
  background-color: #282828;
}

.type_genre p,
.albums_by_artist p,
.related_by_artist p,
.play p {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
}
.type_genre img,
.play img {
  border-radius: 10px;
}
.albums_by_artist img,
.related_by_artist img {
  border-radius: 10px;
}
.albums_by_artist p,
.related_by_artist p {
  margin: 15px 0 0 0;

  overflow: hidden;

  text-overflow: ellipsis;

  color: white;
  text-align: left;
}

.albums_by_artist h6,
.related_by_artist h6 {
  color: #b3b3b3;
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
}
.container-playlist {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.container-playlist .play {
  margin: 5px;
  animation: play 5s;
}

.container-artist-tracks {
  max-width: 1024px;
  min-width: 380px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: auto;
  margin-bottom: 20px;
}
.tracks-tittle {
  visibility: hidden;
  display: none;
}
.tracks-tittle.is-active {
  visibility: visible;
  display: block;
  color: white;
}
.container-artist {
  max-width: 1024px;
  min-width: 380px;

  padding: 0 15px;
}
.container-artist h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.container-artist-card {
  background-color: #181818;
  /* border: red solid 1px; */
  height: 270px;

  /* min-width: 380px; */
  border-radius: 10px;
  padding: 20px;
}
.container-artist-card img {
  border-radius: 50%;
}
.container-artist-card p {
  width: 25%;
  /* border: red solid 0.5px; */
  background: #121212;
  padding: 3px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
}
.container-artist-card:hover {
  background-color: #282828;
}

.container-genre,
.container-albums,
.container-related {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 380px;
  margin: 0 auto;
  overflow: hidden;
}

#container_test {
  display: flex;
  flex-wrap: wrap;
}
#container_test img {
  margin: 5px;
}
#img_categories {
  border-radius: 50%;
}
#container_me {
  display: flex;
  flex-wrap: wrap;
}

.btn.dropdown-toggle {
  width: 150px;
  text-align: left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-left: 0px !important;
}

img {
  width: 140px;
  height: 140px;
}

.btn-success {
  background-color: #3b7d4a !important;
}

.btn-success:hover {
  background-color: #4daf64 !important;
}

img.track {
  border: 1px solid #8a8a8a;
}

@media screen and (min-width: 600px) {
  #select_genre,
  #id-albums,
  #id-related {
    overflow: initial;
  }
  .container-search,
  .container-playlist {
    overflow: initial;
  }
}
@media screen and (max-width: 680px) {
  .container-artist-tracks {
    flex-direction: column;
  }
  .container-tracks {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    /* border: #1db954 solid 1px; */
  }
  .tracks_by_artist {
    width: auto;
  }
}
